.icons a{
    width:65vw   
   }
#facebook img{
   margin-left:14px;
   width: 50px;
   height: 50px;
}
@media screen and (width< 480px) {
#floatingInput{
   width:65vw
}
   #floatingPassword{
   width:65vw
}
   .icons a{
    width:65vw   
   }
}
@media screen and (width> 480px) {

   .icons a{
    width:45vw   
   }
}